body {
    background: #04A1BF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.intro {
    margin: 30px 0px;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

p {
    font-weight: 600;
}

#first {
    margin-top: 10px;
    color: #FFCD5D;
}

#second {
    color: #51DF70;
    text-decoration: line-through;
}

#third {
    color: #025F70;
    margin-bottom: 30px;
}

#enter {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #04A1BF;
    background-color: #025F70;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75 ease;
    font-weight: normal;
}

#enter:hover {
    background-color: #02798F;
    color: #FFCD5D;
}

ul {
    text-align: left;
    margin-top: 20px;
}



input {
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border: none;
}

.todos {
    text-align: center;
    padding: 10px 10px;
    color: #ffffff;
    border: 2px solid #025f70;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #4EB9CD;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5 ease;

}

.todos > input {
    background: none;
    text-transform: capitalize;
    font-weight: 600;
    outline: none;
    color: #ffffff;
    min-width: 40%;
    width: 10px;
}

.fa-check, .fa-trash, .fa-pencil {
    pointer-events: none;
}

.check, .trash, .edit {
    background: none;
    outline: none;
    border: none;
    font-size: 20px;
}

.edit {
    display: none;
    
}


.check {
    color: #00891E;
}

.trash {
    color: rgb(155, 1, 1);
}

.done {
    opacity: 0.5;
    background: #51DF70 !important;
}

.line {
    text-decoration: line-through;
}



